# Laravel padrão
/vendor
/node_modules
/.idea
/.vscode
/.phpunit.result.cache
Homestead.json
Homestead.yaml
.env
.env.backup
.env.*.local
/.DS_Store
Thumbs.db

# Cache e logs
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# Ignorar lock do Sail e Pint
docker-compose.override.yml
.php-cs-fixer.cache
.phpstorm.meta.php

# Ignorar build de dev do Vite
/public/hot
/public/storage
/public/mix-manifest.json

# Mas garantir que o build de produção do Vite seja versionado
!public/build
